<!DOCTYPE html>
<html>

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>
    <script data-require="angular.js@1.2.x" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js" data-semver="1.2.0rc1"></script>
    <script src="//cdn.jsdelivr.net/rxjs/2.1.11/rx.min.js"></script>
    <script src="//cdn.jsdelivr.net/rxjs/2.1.11/rx.time.js"></script>
    <script src="libs/rx.angular.js"></script>
    <script src="common/_declarations.js"></script>
    <script src="common/config.js"></script>
    <script src="common/AppController.js"></script>
    <link rel="stylesheet" type="text/css" href="common/style.css" />
  </head>

  <body ng-app="StackWho" ng-controller="AppController">

    <a href="https://github.com/cburgdorf/StackWho"><img class="sw-fork-me-badge" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

    <div class="sw-wrapper">
      <h1><span>Stack</span><span class="sw-logo-right">Who</span></h1>

      <input class="sw-search-box" type="text" ng-model="searchString" placeholder="location: London, Birmingham answers: java, c#">

      <h3>Find StackOverflow users. By location. Their top answers tags. Or both.</h3>

      <div class="sw-results">
        <div ng-show="loading" id="circularG">
          <div id="circularG_1" class="circularG"></div>
          <div id="circularG_2" class="circularG"></div>
          <div id="circularG_3" class="circularG"></div>
          <div id="circularG_4" class="circularG"></div>
          <div id="circularG_5" class="circularG"></div>
          <div id="circularG_6" class="circularG"></div>
          <div id="circularG_7" class="circularG"></div>
          <div id="circularG_8" class="circularG"></div>
        </div>

        <h2 ng-show="displayUsers.length > 0">Results</h2>
        <ul>
          <li class="sw-user-line" ng-repeat="user in displayUsers">
          <span ng-bind="$index + 1 + '.'"></span>
          <a class="user-link" href="http://stackoverflow.com/users/{{user.user_id}}" target="_blank"><span ng-bind="user.display_name"></span></a>
          <span class="from"> from </span>
          <span ng-bind="user.location"></span>
          <span class="reputation"> with reputation </span>
          <span ng-bind="user.reputation"></span>
        </ul>
      </div>
    </div>
    
  </body>

</html>