[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sw-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}

@each $icon in $icons {
  $name: nth($icon, 1);
  .icon-#{$name} {
    @include icon('before', $name);
  }
}