body {
  font-family: verdana;
}

.nin-main {
  width: 95%;
  margin: 0 auto;
  margin-top: 5.5em;
}

.card {
  background: hsl(0, 0%, 98%);
  border-bottom: 2px solid hsl(0, 0%, 75%);
  border-radius: 2px;
  padding: 1em;
  box-sizing: border-box;
}


.loading-holder {
  position: relative;
}

.results {
  margin-top: 1em;
}
.results-headline {
  font-weight: 300;
  color: hsl(0, 0%, 25%);
  margin: 0;
}

.results-list__item {
  margin-top: 1em;
}

.user {
  position: relative;
}

.user__avatar {
  display: inline-block;
  border-radius: 50%;
}

.user__username {
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0.3em;
  padding-bottom: 0.5em;

  a {
    text-decoration: none;
  }
}

.user__information__term, .user__information__description {
  display: block;
}

.user__information__term {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  color: hsl(0, 0%, 35%);
  font-weight: 200;
  line-height: 1.8em;
  margin: 0;
}

.user__information {
  margin: 0;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  width: 100%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  border-top: 1px solid hsl(0, 0%, 85%);
}

.user__information__description {
  width: 100%;
  margin-left: 0;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
  font-weight: 200;
  line-height: 1.8em;
}

.user-tags-list {
  text-align: left;
  margin-bottom: 0.5em;
}

.user-tags-list__item {
  display: inline-block;
  background: hsl(0, 61%, 47%);
  padding: 0.2em 0.6em;
  font-size: 1em;
  color: hsl(0, 0%, 94%);
  margin-left: 0.5em;
  border-radius: 0.3em;
  margin-top: 0.5em;
  line-height: 1.6em;

  i {
    margin-right: 3px;
  }
}


.so-badge {
  background-image: url('http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png');
  background-size: 30px;
  width: 30px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 640px) {
  .nin-main {
    width: 608px;
    margin-top: 8em;
  }
}


//   .user__information {
//     width: 580px;
//   }

//   .user__information__term, .user__information__description {
//     display: inline-block;
//     box-sizing: border-box;
//   }

//   .user__information__term {
//     width: 85px;
//   }

//   .user__information__description {
//     width: 490px;
//   }
// }

// Layout-Helpers
.sw-l-highlight {
  color: $text-highlight;
  font-size: $font-size-highlight;
}

.sw-l-small {
  font-size: $font-size-small;
}

// Logo
.sw-l-logo {
  margin: 30px;
  height: 91px;
  width: 404px;
}

@media screen and (max-width: 640px) {
  .sw-l-logo {
    width: 75%;
    height: auto;
  }
}

.sw-l-logo__alt {
  color: $text-logo-alt;
}

// Default Layout
// Wrapper
.nin-l-wrapper {
  overflow-x: hidden;
}

// Banner
.sw-l-header {
  position: relative;
  padding: em(2, $font-size-base) em(2, $font-size-base) em(5, $font-size-base) em(2, $font-size-base);
  background-color: $bg-header;
}

.sw-l-header__inner {
  max-width: $max-width;
  margin: 0 auto;
}
