
// Layout-Helpers
.sw-l-highlight {
  color: $text-highlight;
  font-size: $font-size-highlight;
}

.sw-l-small {
  font-size: $font-size-small;
}

// Logo
.sw-l-logo {
  margin: 30px;
  height: 91px;
  width: 404px;
}

@media screen and (max-width: 640px) {
  .sw-l-logo {
    width: 75%;
    height: auto;
  }
}

.sw-l-logo__alt {
  color: $text-logo-alt;
}

// Default Layout
// Wrapper
.sw-l-wrapper {
  overflow-x: hidden;
}

// Banner
.sw-l-header {
  position: relative;
  padding: em(2, $font-size-base) em(2, $font-size-base) em(5, $font-size-base) em(2, $font-size-base);
  background-color: $bg-header;
}

.sw-l-header__inner {
  max-width: $max-width;
  margin: 0 auto;
}

.sw-l-hint-button{
  -webkit-appearance: none;
  background: none;
  border: none;
  color: $red;
  font-size: 12px;
}
