.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 98%, 0.9);
  border-bottom: 2px solid hsl(0, 0%, 75%);
}

.header__headline, .header__tagline {
  text-indent: -7000px;
}

.header__headline {
  background-image: url('../img/logo.png');
  background-size: 180px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 180px;
  padding: 0.5em;
}

.header__tagline {
  height: 0;
  margin: 0;
}

.main {
  width: 95%;
  margin: 0 auto;
  margin-top: 5em;
}

.card {
  background: hsl(0, 0%, 98%);
  border-bottom: 2px solid hsl(0, 0%, 75%);
  border-radius: 2px;
  padding: 1em;
  box-sizing: border-box;
}
.search-box {
}

.search-box__headline {
  font-weight: 300;
  font-size: 1.8em;
  color: hsl(0, 0%, 35%);
  margin: 0;
  padding-bottom: 0.4em;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  margin-bottom: 0.5em;
}
.search-box__fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-box__field {
  width: 100%;
  display: inline-block;
  margin: 0;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

.search-box__label {
  display: block;
  text-align: left;
  font-size: 1.3em;
  color: hsl(0, 0%, 35%);
  font-weight: 200;

  i {
    color: hsl(0, 0%, 45%);
  }
}

.search-box__input-text {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  height: 2.5em;
  width: 100%;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.04);
  border: 1px solid hsl(0, 0%, 89%);
  padding-left: 0.5em;
  font-size: 1.3em;
  box-sizing: border-box;
}
.loading-holder {
  position: relative;
}
.loading {
  position: absolute;
  left: 0;
  top: 4.1em;
  width: 100%;
  height: 6px;
  overflow: hidden;
}

.loading__animation {
  position: absolute;
  width: 200%;
  height: 3px;
  left: 0;
  top: 0;
  border-top: 1px solid $border-loading;
  margin-top: 3px;
  @include transition-property (transform);
  @include transition-duration (.3s);
  @include transition-timing-function(ease-in-out);

  span {
    display: block;
    height: 3px;
    @include linear-gradient(
      90deg,
      $red-light 0%, $red-light 25%,
      $red-lighter 25%, $red-lighter 50%,
      $red-light 50%, $red-light 75%,
      $red-lighter 75%, $red-lighter 100%
    );
    @include animation (loading 2s linear infinite);
  }
}

.results {
  margin-top: 1em;
}
.results-headline {
  font-weight: 300;
  color: hsl(0, 0%, 25%);
  margin: 0;
}

.results-list__item {
  margin-top: 1em;
}

.user {
  position: relative;
}

.user__avatar {
  display: inline-block;
  border-radius: 50%;
}

.user__username {
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0.3em;
  padding-bottom: 0.5em;

  a {
    text-decoration: none;
  }
}

.user__information__term, .user__information__description {
  display: block;
}

.user__information__term {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  color: hsl(0, 0%, 35%);
  font-weight: 200;
  line-height: 1.8em;
  margin: 0;
}

.user__information {
  margin: 0;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  width: 100%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  border-top: 1px solid hsl(0, 0%, 85%);
}

.user__information__description {
  width: 100%;
  margin-left: 0;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
  font-weight: 200;
  line-height: 1.8em;
}

.user-tags-list {
  text-align: left;
  margin-bottom: 0.5em;
}

.user-tags-list__item {
  display: inline-block;
  background: hsl(0, 61%, 47%);
  padding: 0.2em 0.6em;
  font-size: 1em;
  color: hsl(0, 0%, 94%);
  margin-left: 0.5em;
  border-radius: 0.3em;
  margin-top: 0.5em;
  line-height: 1.6em;

  i {
    margin-right: 3px;
  }
}


.so-badge {
  background-image: url('http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png');
  background-size: 30px;
  width: 30px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 640px) {
  .main {
    width: 608px;
    margin-top: 8em;
  }

  .loading {
    top: 6.1em;
  }

  .header__headline {
    width: 280px;
    background-size: 280px auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .user__information {
    width: 580px;
  }

  .user__information__term, .user__information__description {
    display: inline-block;
    box-sizing: border-box;
  }

  .user__information__term {
    width: 85px;
  }

  .user__information__description {
    width: 490px;
  }
}

// Layout-Helpers
.sw-l-highlight {
  color: $text-highlight;
  font-size: $font-size-highlight;
}

.sw-l-small {
  font-size: $font-size-small;
}

// Logo
.sw-l-logo {
  margin: 30px;
  height: 91px;
  width: 404px;
}

@media screen and (max-width: 640px) {
  .sw-l-logo {
    width: 75%;
    height: auto;
  }
}

.sw-l-logo__alt {
  color: $text-logo-alt;
}

// Default Layout
// Wrapper
.sw-l-wrapper {
  overflow-x: hidden;
}

// Banner
.sw-l-header {
  position: relative;
  padding: em(2, $font-size-base) em(2, $font-size-base) em(5, $font-size-base) em(2, $font-size-base);
  background-color: $bg-header;
}

.sw-l-header__inner {
  max-width: $max-width;
  margin: 0 auto;
}
