.sw-m-tweet-button a {
  &:link, &:visited {
    color: #333;
    padding: 2px 5px 2px 20px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
    text-align: left;
    text-decoration: none;
  }
}