.nin-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 98%, 0.9);
  border-bottom: 1px solid hsl(0, 0%, 65%);
}

.nin-header__logo {
  background-image: url('../img/logo.png');
  background-size: 180px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 180px;
  padding: 0.5em;
}

.nin-header__tagline {
  height: 0;
  margin: 0;
}

.nin-header__logo, .nin-header__tagline {
  text-indent: -7000px;
}

.nin-header__loading {
  position: absolute;
  left: 0;
  top: 4.3em;
  width: 100%;
  height: 6px;
  overflow: hidden;
}

.nin-header__loading__animation {
  position: absolute;
  width: 200%;
  height: 3px;
  left: 0;
  top: 0;
  border-top: 1px solid $border-loading;
  margin-top: 3px;
  @include transition-property (transform);
  @include transition-duration (.3s);
  @include transition-timing-function(ease-in-out);

  span {
    display: block;
    height: 3px;
    @include linear-gradient(
      90deg,
      $red-light 0%, $red-light 25%,
      $red-lighter 25%, $red-lighter 50%,
      $red-light 50%, $red-light 75%,
      $red-lighter 75%, $red-lighter 100%
    );
    @include animation (loading 2s linear infinite);
  }
}

@media screen and (min-width: 640px) {
  .nin-header__logo {
    width: 280px;
    background-size: 280px auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .nin-header__loading {
    top: 6.3em;
  }
}
