// Tags
.sw-m-tags {
  padding-top: em(6, $font-size-base);
  border-top: 1px solid $border-light;}

.sw-m-tags__caption,
.sw-m-tags__list {
  display: inline;
}

.sw-m-tags__caption {
  font-size: $font-size-tags-caption;
  line-height: #{(18/em-to-px($font-size-tags-caption))};
  display: inline;
  color: $text-subtle;
  font-weight: normal;
  vertical-align: -20%;

  &:after {
    content: ':';
  }
}

.sw-m-tags__item {
  position: relative;
  padding-left: 9px;
  margin: 0 0 1px em(4, $font-size-base);
  line-height: 1;
  display: inline-block;

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -9px;
    border-color: transparent $bg-tag transparent transparent;
    border-style: solid;
    border-width: 9px;
  }
  span {
    padding: 0 em(8, em-to-px($font-size-tag)) 1px em(8, em-to-px($font-size-tag));
    line-height: $line-height-tag;
    font-size: $font-size-tag;
    background-color: $bg-tag;
    color: $text-bright;
    white-space: nowrap;
    display: inline-block;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: darken($border-tag, 5%);
  }
}

.sw-m-tags__icon {
  position: relative;
  margin-left: 0;
  left: em(-4, $font-size-base);
}