.nin-m-header-logo {
  background-image: url('../img/logo.png');
  background-size: 180px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 180px;
  padding: 0.5em;
}

.nin-m-header-tagline {
  height: 0;
  margin: 0;
}

.nin-m-header-logo, .nin-m-header-tagline {
  text-indent: -7000px;
}

.nin-m-header-loading {
  position: absolute;
  left: 0;
  top: 4.1em;
  width: 100%;
  height: 6px;
  overflow: hidden;
}

.nin-m-header-loading__animation {
  position: absolute;
  width: 200%;
  height: 3px;
  left: 0;
  top: 0;
  border-top: 1px solid $border-loading;
  margin-top: 3px;
  @include transition-property (transform);
  @include transition-duration (.3s);
  @include transition-timing-function(ease-in-out);

  span {
    display: block;
    height: 3px;
    @include linear-gradient(
      90deg,
      $red-light 0%, $red-light 25%,
      $red-lighter 25%, $red-lighter 50%,
      $red-light 50%, $red-light 75%,
      $red-lighter 75%, $red-lighter 100%
    );
    @include animation (loading 2s linear infinite);
  }
}
