@charset "UTF-8";

// Calculate the font-size in px & rem
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Include Fonts via @font-face
// Same filename, url without file-format
@mixin font-face($name, $url) {
  @font-face {
    font-family: $name;
    src: url($url + '.eot');
    src: url($url + '.eot#iefix') format("embedded-opentype"),
         url($url + '.ttf') format('ttf'),
         url($url + '.svg' + '##{$name}') format('svg'),
         url($url + '.woff') format('woff');

    @content;
  }
}