/*------------------------------------*\
  Header
\*------------------------------------*/

.sw-header {
  position: relative;
  background-color: $bg-header;
  padding: em(2, $font-size-base) em(2, $font-size-base) em(5, $font-size-base) em(2, $font-size-base);
  }

.sw-header__inner {
  max-width: $max-width;
  margin: 0 auto;
  }