/*------------------------------------*\
  Helper
\*------------------------------------*/

.sw-highlight {
  color: $text-highlight;
  font-size: $font-size-highlight;
  }

.sw-small {
  font-size: $font-size-small;
}