/*------------------------------------*\
  Loading
\*------------------------------------*/

.sw-loading {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-bottom: 1px solid rgba($border-light-inverse, .8);
  }

.sw-loading__animation {
  position: absolute;
  width: 200%;
  height: 3px;
  left: 0;
  top: 0;
  border-top: 1px solid $border-loading;
  margin-top: 3px;
  @include transition-property (transform);
  @include transition-duration (.3s);
  @include transition-timing-function(ease-in-out);

  span {
    display: block;
    height: 3px;
    @include linear-gradient(
      90deg,
      $blue-light 0%, $blue-light 25%,
      $blue-lighter 25%, $blue-lighter 50%,
      $blue-light 50%, $blue-light 75%,
      $blue-lighter 75%, $blue-lighter 100%
    );
    @include animation (loading 2s linear infinite);
    }

  }

.is-loading .sw-loading__animation {
  @include transform (translate(0, -3px));
  }