.sw-tweet-button{
  display: inline-block;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fff,#dedede);
  background-image: linear-gradient(#fff,#dedede);
  border: #ccc solid 1px;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  cursor: pointer;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  margin: 5px;
}

.sw-tweet-button a,
.sw-tweet-button a:link,
.sw-tweet-button a:visited {
  color: #333;
  padding: 2px 5px 2px 20px;
  background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
  text-align: left;
  text-decoration: none;
}