// Loaders
.sw-m-loading {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-bottom: 1px solid rgba($border-light-inverse, .8);
  }

.sw-m-loading__animation {
  position: absolute;
  width: 200%;
  height: 3px;
  left: 0;
  top: 0;
  border-top: 1px solid $border-loading;
  margin-top: 3px;
  @include transition-property (transform);
  @include transition-duration (.3s);
  @include transition-timing-function(ease-in-out);

  span {
    display: block;
    height: 3px;
    @include linear-gradient(
      90deg,
      $red-light 0%, $red-light 25%,
      $red-lighter 25%, $red-lighter 50%,
      $red-light 50%, $red-light 75%,
      $red-lighter 75%, $red-lighter 100%
    );
    @include animation (loading 2s linear infinite);
  }
}