@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes loading {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes loading {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "sw-icon";
  src: url("../fonts/icons/sw-icon.eot");
  src: url("../fonts/icons/sw-icon.eot#iefix") format("embedded-opentype"), url("../fonts/icons/sw-icon.ttf") format("ttf"), url("../fonts/icons/sw-icon.svg#sw-icon") format("svg"), url("../fonts/icons/sw-icon.woff") format("woff");
}

body {
  font: normal 87.5%/1.214286 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  text-align: center;
}

a:link,
a:visited {
  color: #444444;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.sw-fork-me-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  z-index: 10;
  opacity: 0.5;
  width: 24px;
  height: 24px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sw-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}

.icon-home:before {
  content: "\e802";
}

.icon-tag:before {
  content: "\e800";
}

.icon-trophy:before {
  content: "\e803";
}

body {
  font-family: verdana;
}

.nin-main {
  width: 95%;
  margin: 0 auto;
  margin-top: 5.5em;
}

.card {
  background: #fafafa;
  border-bottom: 2px solid #bfbfbf;
  border-radius: 2px;
  padding: 1em;
  box-sizing: border-box;
}

.loading-holder {
  position: relative;
}

.results {
  margin-top: 1em;
}

.results-headline {
  font-weight: 300;
  color: #404040;
  margin: 0;
}

.results-list__item {
  margin-top: 1em;
}

.user {
  position: relative;
}

.user__avatar {
  display: inline-block;
  border-radius: 50%;
}

.user__username {
  margin: 0;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0.3em;
  padding-bottom: 0.5em;
}
.user__username a {
  text-decoration: none;
}

.user__information__term, .user__information__description {
  display: block;
}

.user__information__term {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  color: #595959;
  font-weight: 200;
  line-height: 1.8em;
  margin: 0;
}

.user__information {
  margin: 0;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  width: 100%;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.user__information__description {
  width: 100%;
  margin-left: 0;
  margin: 0;
  font-size: 1.2em;
  text-align: left;
  font-weight: 200;
  line-height: 1.8em;
}

.user-tags-list {
  text-align: left;
  margin-bottom: 0.5em;
}

.user-tags-list__item {
  display: inline-block;
  background: #c12f2f;
  padding: 0.2em 0.6em;
  font-size: 1em;
  color: #f0f0f0;
  margin-left: 0.5em;
  border-radius: 0.3em;
  margin-top: 0.5em;
  line-height: 1.6em;
}
.user-tags-list__item i {
  margin-right: 3px;
}

.so-badge {
  background-image: url("http://cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png");
  background-size: 30px;
  width: 30px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 640px) {
  .nin-main {
    width: 608px;
    margin-top: 8em;
  }
}
.sw-l-highlight {
  color: #c02f2f;
  font-size: 1.071429em;
}

.sw-l-small {
  font-size: 0.857143em;
}

.sw-l-logo {
  margin: 30px;
  height: 91px;
  width: 404px;
}

@media screen and (max-width: 640px) {
  .sw-l-logo {
    width: 75%;
    height: auto;
  }
}
.sw-l-logo__alt {
  color: #c02f2f;
}

.nin-l-wrapper {
  overflow-x: hidden;
}

.sw-l-header {
  position: relative;
  padding: 0.142857em 0.142857em 0.357143em 0.142857em;
  background-color: #d9d7ce;
}

.sw-l-header__inner {
  max-width: 700px;
  margin: 0 auto;
}

.nin-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(250, 250, 250, 0.9);
  border-bottom: 1px solid #a6a6a6;
}

.nin-header__logo {
  background-image: url("../img/logo.png");
  background-size: 180px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 180px;
  padding: 0.5em;
}

.nin-header__tagline {
  height: 0;
  margin: 0;
}

.nin-header__logo, .nin-header__tagline {
  text-indent: -7000px;
}

.nin-header__loading {
  position: absolute;
  left: 0;
  top: 4.3em;
  width: 100%;
  height: 6px;
  overflow: hidden;
}

.nin-header__loading__animation {
  position: absolute;
  width: 200%;
  height: 3px;
  left: 0;
  top: 0;
  border-top: 1px solid #c2c1b8;
  margin-top: 3px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.nin-header__loading__animation span {
  display: block;
  height: 3px;
  background-color: #d44e4e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d44e4e), color-stop(25%, #d44e4e), color-stop(25%, #de7777), color-stop(50%, #de7777), color-stop(50%, #d44e4e), color-stop(75%, #d44e4e), color-stop(75%, #de7777), color-stop(100%, #de7777));
  background-image: -webkit-linear-gradient(-360deg, #d44e4e 0%, #d44e4e 25%, #de7777 25%, #de7777 50%, #d44e4e 50%, #d44e4e 75%, #de7777 75%, #de7777 100%);
  background-image: linear-gradient(90deg,#d44e4e 0%, #d44e4e 25%, #de7777 25%, #de7777 50%, #d44e4e 50%, #d44e4e 75%, #de7777 75%, #de7777 100%);
  -webkit-animation: loading 2s linear infinite;
  -moz-animation: loading 2s linear infinite;
  animation: loading 2s linear infinite;
}

@media screen and (min-width: 640px) {
  .nin-header__logo {
    width: 280px;
    background-size: 280px auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .nin-header__loading {
    top: 6.3em;
  }
}
.nin-m-faq-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.nin-m-faq-modal-wrap {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 80%;
  max-width: 500px;
  height: 85%;
  margin-top: 2.5em;
  padding: 1em;
  background-color: #FFF;
  border-radius: 0.3em;
}
.nin-m-faq-modal-wrap ul {
  margin-top: 0;
}

.nin-m-faq-modal__scrollable {
  max-height: 85%;
  overflow-y: auto;
}

.nin-m-faq-modal__headline {
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-weight: 200;
  font-size: 1.3em;
  text-align: left;
  font-weight: bold;
}

.nin-m-faq-modal__close {
  position: absolute;
  right: 1em;
  top: 1.4em;
  text-decoration: none;
  color: #c12f2f;
  background: rgba(0, 0, 0, 0);
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  border: none;
  font-size: 0.9em;
}

.nin-faq-modal__qa {
  text-align: left;
  margin-top: 2em;
}
.nin-faq-modal__qa h4 {
  margin: 0;
  font-weight: 200;
  font-size: 1.2em;
}
.nin-faq-modal__qa p {
  line-height: 1.5;
  margin: 1em 0 0 0;
}
.nin-faq-modal__qa:first-child {
  margin-top: 0;
}

.nin-search {
  background: #fafafa;
  border: 1px solid #a6a6a6;
  border-radius: 0.4em;
  padding: 1em;
  box-sizing: border-box;
}

.nin-search__headline {
  font-weight: 300;
  font-size: 1.2em;
  color: #595959;
  margin: 0 0 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #d9d9d9;
  line-height: 1.8;
  text-transform: uppercase;
}

.nin-search__fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nin-search__field {
  width: 100%;
  margin: 1em 0 0 0;
}

.nin-search__field__label {
  display: block;
  font-weight: 200;
  font-size: 1.1em;
  text-align: left;
  color: #595959;
}
.nin-search__field__label i {
  color: #737373;
}

.nin-search__field__input {
  margin-top: 0.5em;
  height: 2.5em;
  width: 100%;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #cccccc;
  padding-left: 0.5em;
  font-size: 1.2em;
  box-sizing: border-box;
}

.nin-search__faq-text {
  margin: 1.2em 0 0 0;
  text-align: right;
  font-size: 0.8em;
}
.nin-search__faq-text a {
  text-decoration: none;
  color: #c02f2f;
}

@media screen and (min-width: 540px) {
  .nin-search__field {
    width: 49%;
    display: inline-block;
  }

  .nin-search__faq-text {
    font-size: 0.9em;
  }
}
.sw-m-results {
  max-width: 700px;
  padding-bottom: 1em;
  margin: 0 auto;
}

.sw-m-results__heading {
  font-size: 1.571429em;
  font-weight: normal;
}

.sw-m-results__list {
  padding-left: 0;
  list-style: none;
}

.sw-m-results__item {
  display: block;
  margin: 0 0.357143em 0.714286em 0.357143em;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sw-m-search-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.142857em;
  margin-bottom: 0.428571em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: white;
  position: relative;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .sw-m-search-box {
    width: auto;
  }
}
.sw-m-search-box:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 1px;
  left: 50%;
  bottom: 4px;
  top: 7px;
}

.sw-m-search-box__caption {
  display: block;
  margin: 0 0.071429em;
  font-size: 0.785714em;
  color: #999999;
  line-height: 1.636364;
}

.sw-m-search-box__input-wrapper {
  width: 49%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.sw-m-search-box__input {
  height: 100%;
  width: 100%;
  font-size: 1.071429em;
  line-height: 2.4;
  color: #666666;
  text-align: center;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.sw-m-search-box__input-caption {
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0;
}

.sw-m-faq-box {
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 15px 10px 15px;
}

.sw-m-faq-hint {
  text-align: right;
}

.sw-m-faq-hint__button {
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #c02f2f;
  font-size: 12px;
}

.sw-m-tags {
  padding-top: 0.428571em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sw-m-tags__caption,
.sw-m-tags__list {
  display: inline;
}

.sw-m-tags__caption {
  font-size: 1em;
  line-height: 1.285714;
  display: inline;
  color: #777777;
  font-weight: normal;
  vertical-align: -20%;
}
.sw-m-tags__caption:after {
  content: ':';
}

.sw-m-tags__item {
  position: relative;
  padding-left: 9px;
  margin: 0 0 1px 0.285714em;
  line-height: 1;
  display: inline-block;
}
.sw-m-tags__item:before {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: -9px;
  border-color: transparent #c02f2f transparent transparent;
  border-style: solid;
  border-width: 9px;
}
.sw-m-tags__item span {
  padding: 0 0.8em 1px 0.8em;
  line-height: 16px;
  font-size: 0.714286em;
  background-color: #c02f2f;
  color: white;
  white-space: nowrap;
  display: inline-block;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #ac2a2a;
}

.sw-m-tags__icon {
  position: relative;
  margin-left: 0;
  left: -0.285714em;
}

.tweet-button {
  display: inline-block;
  background-color: #eee;
  background-image: -webkit-linear-gradient(white, #dedede);
  background-image: linear, false, white, #dedede;
  border: #ccc solid 1px;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  padding: 3px 8px;
  vertical-align: 8%;
}

.tweet-button a {
  color: #333;
  padding: 2px 5px 2px 20px;
  background: url("https://twitter.com/favicons/favicon.ico") 1px center no-repeat;
  background-size: contain;
  text-align: left;
  text-decoration: none;
}

.sw-m-user {
  padding: 0.428571em;
}

.sw-m-user__header {
  height: 51px;
  line-height: 46px;
  margin-bottom: 0.428571em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sw-m-user__site {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.sw-m-user__img,
.sw-m-user__name {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

.sw-m-user__img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 40px;
  border: 3px solid white;
}

.sw-m-user__name {
  margin: 0 0 0 0.28em;
  font-size: 1.785714em;
  font-weight: normal;
  vertical-align: 25%;
}

.sw-m-user__body {
  padding: 0.428571em 0 0.785714em 0;
}

.sw-m-user__icon {
  color: #777777;
}

.sw-m-user__icon--reputation {
  margin-left: 1em;
}

.is-loading .sw-m-loading__animation {
  -webkit-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px);
  -o-transform: translate(0, -3px);
  transform: translate(0, -3px);
}

.sw-m-results__item.ng-enter,
.sw-m-results__item.ng-leave {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.sw-m-results__item.ng-enter,
.sw-m-results__item.ng-leave.sw-m-results__item.ng-leave-active {
  opacity: 0;
}

.sw-m-results__item.ng-enter.sw-m-results__item.ng-enter-active,
.sw-m-results__item.ng-leave {
  opacity: 1;
}

.sw-m-search-box__input:focus {
  outline: none;
  color: #333333;
}

.sw-m-tweet-button a:link, .sw-m-tweet-button a:visited {
  color: #333;
  padding: 2px 5px 2px 20px;
  background: url("https://twitter.com/favicons/favicon.ico") 1px center no-repeat;
  background-size: contain;
  text-align: left;
  text-decoration: none;
}
