ul {
  list-style:none;
}

.from, .reputation{
  color: #3a6da6;
}

.sw-user-has-tags{
  position: relative;
}

.user-link{
  color: #000000;
}

.sw-wrapper{
  width: 90%;
  margin: auto;
  text-align: center;
}

.sw-button{
  margin-top: 10px;
}

.sw-logo-right{
  color: #3a6da6;
}

.sw-action-buttons{
  margin-top: 5px;
}

.sw-user-count{
  font-size: 20px;
  margin-top: 10px;
}

.sw-user-count-figure{
  font-weight: bold;
  color: #3a6da6;
}

.sw-search-box{
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid;
  font-size: 20px;
  margin-top: 10px;
}

body{
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  font-size: 14px;
  color: #444;
}